<app-navbar [errors]="errors" [route]="rotina"></app-navbar>

<form class="k-form" [formGroup]="form">
    <div class="row" >
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-3">
            <span>Código:</span>
            <input kendoTextBox
                formControlName="id"
                class="form-control"
            >
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-3">
            <span>Descrição:</span>
            <input kendoTextBox 
                type="text"
                formControlName="descricao"
                class="form-control"
            >
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-3">
            <span>Mac Adrress:</span>
            <input kendoTextBox 
                type="text"
                formControlName="macAddress"
                class="form-control"
            >
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-3">
            <button kendoButton 
                (click)="onSubmit()" 
                [icon]="'save'"
                class="k-button"
                [disabled]="!form.valid"
            >
                Salvar
            </button>            
            <button kendoButton 
                (click)="onCancel()" 
                [icon]="'trash'"
                class="k-button"
                style="margin-left: 10px;"
            >
                Cancelar
            </button>
        </div>
    </div>
</form>